body {
     background-color:#ccc266;

}

canvas { background:#e2adad; }


#draw{
  position: relative;
  	left: 50%;
  	top: 50%;
  	margin-left: -450px;
  }

h1{
  text-align: center;
  color: #b14951
}

p {
  text-align: center;
  color: #b14951
}
